*.Rapp.history
.DS_Store
server.info
*.aux
*.log
*.swp
*.out
inference/nussear*
inference/many-combinations
geolayers/nussear
geolayers/multigrid
inference-testing/*.RData
inference/10x
inference/16x
inference/128x
inference/256x
figure
*_figure
cache
*_cache
files
*_files
temp
inference/test-rasters/*x
angsd-counts/kenroMapped/272torts_snp1e6_minmapq20minq30_map2kenro*
angsd-counts/galapagosMapped/272torts_snp1e6_minmapq20minq30*
